# Core
pyrogram==2.0.106
tgcrypto
uvloop
pytz
requests
aiohttp
aiofiles

# Database
pymongo
motor
dnspython   # required for MongoDB SRV URIs

# Extra utilities
cinemagoer
shortzy
speedtest-cli
qrcode
Pillow

# Web (for Koyeb health check)
flask
gunicorn