# Core
hydrogram==0.2.0
tgcrypto
uvloop
pytz
requests
aiohttp
aiofiles

# Database
pymongo
motor
dnspython

# Extras
cinemagoer
shortzy
speedtest-cli
qrcode
Pillow

# Web health
# (Use aiohttp or other, depending on your web server)